{% extends 'main_app/base.html' %}
{% load main_tags %}
{% load bootstrap_icons %}

{% block title %}Оставить отзыв{% endblock %}

{% block content %}
<div class="container px-3 py-3">
    <div class="col-md-10 mx-auto col-lg-6 col-xl-5">
        <p class="h2 d-inline">Оставить отзыв</p>
        <form action="" class="p-4 p-md-5 border rounded-3 bg-light" method="post">
				{% csrf_token %}
				{% for f in form %}
					<div class="form-floating mb-3">
						{{ f }}
						<label class="text-muted">{{f.label}}</label>
					</div>
                {% endfor %}
				<button class="w-100 btn btn-lg btn-outline-primary" type="submit">Опубликовать</button>
				<hr class="my-4">
			</form>
    </div>
    {% show_reviews %}
</div>
{% endblock %}