{% extends 'main_app/base.html' %}
{% load bootstrap_icons %}

{% block title %}Статьи{% endblock %}

{% block content %}
<div class="container px-4 py-3" id="custom-cards">
    <div class="bg-light rounded p-5">
        <p class="h2 d-inline">Статьи</p>
    </div>
    <hr class="my-4">

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 align-items-stretch g-4 py-2">
      {% for article in articles %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{ article.photo }}');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="mt-4 mb-5 display-6 lh-1 fw-bold text-center">{{ article.title }}</h2>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    {% bs_icon 'person-circle' size='20px' %}
                    <small class="ms-2">{{ article.author }}</small>
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <small>{{ article.topic }}</small>
                  </li>
                  <li class="d-flex align-items-center">
                    {% bs_icon 'calendar3' size='16px' %}
                    <small class="ms-2">{{ article.time_create|date:"d M" }}</small>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}