{% extends 'main_app/base.html' %}
{% load bootstrap_icons %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container col-12 px-4 py-5 bg-image-1">
	<div class="row align-items-center g-lg-5 py-md-5">
		<div class="col-lg-6 text-center text-lg-start px-md-5">
			<img class="mb-4" src="{% static 'main_app/img/logo_32.png' %}" alt="logo">
			<h1 class="h3 fw-bold lh-1 mb-4 mb-lg-5 bg-light rounded p-4">Помощь в успешной сдаче экзаменов, зачётов и контрольных работ</h1>
			<button class="btn btn-lg btn-light mb-5 me-2 disabled">Нет аккаунта? {% bs_icon 'arrow-right' size='24px' %}</button>
			<a href="{% url 'registration' %}" class="btn btn-lg btn-primary mb-5">Регистрация</a>
		</div>
		<div class="col-md-10 mx-auto col-lg-6 col-xl-5">
			<form action="{% url 'authorization' %}" class="p-4 p-md-5 border rounded-3 bg-light" method="post">
				{% csrf_token %}
				<p class="mb-4">Вход в учетную запись</p>
				{% for f in form %}
					<div class="form-error">{{ f.errors }}</div>
					<div class="form-floating mb-3">
						{{f}}
						<label class="text-muted">{{f.label}}</label>
					</div>
				{% endfor %}
				<button class="w-100 btn btn-lg btn-outline-primary" type="submit">Войти</button>
				<hr class="my-4">
				<small class="text-muted">Забыли пароль? <a href="/">Сбросить</a></small>
			</form>
		</div>
	</div>
</div>

{% include 'main_app/recent_reviews.html' %}

{% endblock content %}