{% load bootstrap_icons %}
{% load main_tags %}

<div class="container px-3 py-5">
    <p class="h2 d-inline">Последние отзывы</p>
    <a href="{% url 'reviews' %}" class="btn btn-light d-none d-sm-inline rounded-pill px-4 float-end">Смотреть все</a>
    <hr class="my-4">
    <div class="row g-4 my-2 row-cols-1 row-cols-lg-3">
        {% for review in reviews %}
            <div class="col pe-4">
                <div class="d-flex align-items-center mb-2">
                    <div class="feature-icon bg-primary bg-gradient rounded-circle mb-3">
                        {% bs_icon 'person-circle' size='32px' %}
                    </div>
                    <p class="ms-3 fs-5">{{ review.name }}</p>
                    <p class="ms-auto text-muted">{{ review.time_create|date:"d M" }}</p>
                </div>
                <p class="">{{ review.rev }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'reviews' %}" class="w-100 btn btn-light d-sm-none py-2 mt-2 float-end">Смотреть все отзывы</a>
</div>