{% extends 'main_app/base.html' %}
{% load bootstrap_icons %}

{% block title %}Отзывы{% endblock %}

{% block content %}
<div class="container px-3 py-3">
    <div class="bg-light rounded p-5">
        <p class="h2 d-inline">Отзывы</p>
        <a href="{% url 'reviews' %}" class="btn btn-warning d-none d-sm-inline rounded-pill px-4 float-end">Оставить отзыв</a>
    </div>
    <hr class="my-4">
    <div class="row g-4 my-2 row-cols-1 row-cols-lg-3">
		{% for review in reviews %}
            <div class="col pe-4">
                <div class="d-flex align-items-center mb-2">
                    <div class="feature-icon bg-primary bg-gradient rounded-circle mb-3">
                        {% bs_icon 'person-circle' size='32px' %}
                    </div>
                    <p class="ms-3 fs-5">{{ review.name }}</p>
                    <p class="ms-auto text-muted">{{ review.date|date:"d M" }}</p>
                </div>
                <p class="">{{ review.rev }}</p>
            </div>
        {% endfor %}
        <div class="col pe-4">
            <div class="d-flex align-items-center mb-2">
                <div class="feature-icon bg-primary bg-gradient rounded-circle mb-3">
                    {% bs_icon 'person-circle' size='32px' %}
                </div>
                <p class="ms-3 fs-5">Кирилл</p>
                <p class="ms-auto text-muted">21 апреля</p>
            </div>
            <p class="">Содержание отзыва</p>
        </div>
    </div>
</div>
{% endblock %}